name: GitHub Activity

on:
  schedule:
    - cron: "0 */12 * * *" # Atualiza a cada 12 horas
  workflow_dispatch:

jobs:
  update-readme:
    name: Update README with GitHub Activity
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - uses: jamesgeorge007/github-activity-readme@v0.4.5
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
